---
import "../../styles/global.css";
import Nav from "../../components/Nav.astro";
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/Sidebar.astro";


---

<Layout title="fundamentos">
    <Nav />
    <Sidebar/>
    <p>hola que tal, como andas</p>
    <slot />
</Layout>
