/* src/styles/md.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Search estilos nav */
    .markdown-content h1 {
      @apply  text-[30px] font-bold pl-[2rem] my-[25px];
    }
    .markdown-content h1,
    .markdown-content h2,
    .markdown-content h3,
    .markdown-content h4,
    .markdown-content h5,
    .markdown-content h6,
    .markdown-content p,
    .markdown-content ul,
    .markdown-content li,
    .markdown-content table,

    .markdown-content strong {
        @apply text-primary dark:text-dark-primary;
      }
}

.markdown-content pre {
    background-color: #cf2222;
    /* Fondo oscuro para el bloque de código */
    color: #f8f8f2;
    /* Color claro para el texto */
    border-radius: 5px;
    padding: 1em;
    overflow-x: auto;
    font-size: 0.9rem;
    line-height: 1.5;
}

.markdown-content code {
    font-family: 'Courier New', Courier, monospace;
    color: #f8f8f2;
    /* Color del texto dentro de <code> */
}

/* Estilos de resaltado de sintaxis */
.markdown-content .token.keyword {
    color: #66d9ef;
    /* Colores específicos de palabras clave */
}

.markdown-content .token.function {
    color: #a6e22e;
}

.markdown-content .token.string {
    color: #e6db74;
}

.markdown-content .token.comment {
    color: #fed505;
    font-style: italic;
}