---
import '../../styles/global.css'
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("ip-connectivity");
   

    return blogEntries.map((entry) => ({
        params: { docs: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data?.title}>
  <MarkdownPostLayout title={entry.data?.title}>
    <Content />
  </MarkdownPostLayout>
  <p slot="aside">esto es un aside</p>
</Layout>
