---
import Svg from "../lib/Svg.astro";
const {pathname} = Astro.props
---

<nav class="sticky float-sidebar-width h-[40px] bg-main dark:bg-dark-main border-b-[1px] border-border dark:border-dark-border">
    <details class="">
        <summary class=" list-none flex gap-2 items-center h-[40px] px-[20px]">
            <div class="  h-[30px] flex items-center gap-2 border-[1px] border-border pl-[10px] rounded-md">
                     <span class="darkmode"> En esta pagina</span>
                <div class="icon">
                    <Svg name="chevronDown" iconStyle="darkmode"/>
                </div>
            </div>
            <span class="darkmode">{pathname}</span>
        </summary>
        <div class="fixed w-full">
            <ul class="bg-main dark:bg-dark-main">
                <li class=" border-b-[1px] border-border dark:border-dark-border pb-[2px]">
                    <a href="/fundamentos/conceptos-basicos">Fundamentals of Networking</a>
                </li>
                <li class=" border-b-[1px] border-border dark:border-dark-border pb-[2px]">B</li>
                <li class=" border-b-[1px] border-border dark:border-dark-border pb-[2px]">C</li>
                <li class=" border-b-[1px] border-border dark:border-dark-border pb-[2px]">D</li>
                <li class=" border-b-[1px] border-border dark:border-dark-border pb-[2px]">E</li>
           
            </ul>
        </div>
    </details>
</nav>

<style>
  details > summary .icon {
    transform: rotate(0deg);
    transition: transform 100ms linear;
  }

  details[open] > summary .icon {
    transform: rotate(90deg);
    transition: transform 100ms linear;
  }
</style>
