---

---


<div class="flex flex-col gap-4">
    <button class="h-[40px] bg-blue-800 rounded-sm w-[200px] text-white hover:scale-105 hover:transition-all">
        Iniciar Sesion
    </button>
    <button class="h-[40px] bg-blue-800 rounded-sm w-[200px] text-white hover:scale-105 hover:transition-all">
        Registrarse
    </button>
</div>