---
import Search from "./ui/Search.astro";
import Darkmode from "../lib/Darkmode.astro";
import Svg from "../lib/Svg.astro";


---

<div
  class="h-[64px] flex justify-between items-center bg-main dark:bg-dark-main top-0 sticky z-[1000] border-b-[1px] border-border dark:border-dark-border"
>
  <div
    class="logo w-[200px] lg:w-[320px] flex justify-center items-center"
  >
    <a href="#" class="darkmode font-bold text-[24px] cursor-pointer">CCNA</a>
  </div>
  <div class="h-full flex-1 flex justify-center items-center">
    <Search />
  </div>

  <div class="flex-2 flex justify-end mr-[20px]">
    <div
      class="settings w-[200px] h-[30px] flex gap-2 items-center justify-between mr-[20px]"
    >
      <Darkmode/>
      <button class="flex items-center gap-1">
        <Svg name="language" iconStyle="darkmode"></Svg>
        <span class="dark:text-dark-primary">Español</span>
        <Svg name="chevronDown" iconStyle="darkmode"></Svg>   
      </button>
    </div>
  </div>
</div>