---
import Search from "./ui/Search.astro";
import Icon from "../lib/Icon.astro";
import Darkmode from "../lib/Darkmode.astro";

---

<div
  class="h-[64px] flex justify-between items-center bg-main dark:bg-dark-main top-0 sticky z-[1000] border-b-[1px] border-border dark:border-dark-border"
>
  <div
    class="logo w-[200px] lg:w-[320px] flex justify-center items-center"
  >
    <a href="/" class="font-bold text-[24px] cursor-pointer text-primary dark:text-dark-primary">CCNA</a>
  </div>
  <div class="h-full flex-1 flex justify-center items-center">
    <Search />
  </div>

  <div class="flex-2 flex justify-end mr-[20px]">
    <div
      class="settings w-[200px] h-[30px] flex gap-2 items-center justify-between mr-[20px]"
    >
      <Darkmode/>
      <button class="flex items-center gap-1">
        <Icon src="/icons/language.svg" alt="imagen" />
        <span class="">Español</span>
        <Icon src="/icons/chevronDown.svg" alt="imagen" />
      </button>
    </div>
  </div>
</div>