---
import Search from "./ui/Search.astro";
import Icon from "../lib/Icon.astro";

---

<div
    class="h-[64px] flex justify-between items-center bg-[#F6F7F9] top-0 sticky z-[1000] border-b-[1px] border-[#EDEEF3]"
>
    <div class="logo w-[320px] flex justify-center items-center">
        <a href="/" class="font-bold text-[24px] cursor-pointer">CCNA</a>
    </div>
    <Search/>
    <div class="flex-1 flex justify-end mr-[20px]">
        <div class="settings w-[200px] h-[30px] flex gap-2 items-center justify-between mr-[20px]">
            <button class="flex items-center gap-1">
                <Icon  src="/icons/dark.svg" alt="imagen"/>
                <span class="">Oscuro</span>
            </button>
            <button class="flex items-center gap-1">
                <Icon  src="/icons/language.svg" alt="imagen"/>
                <span class="">Español</span>   
                <Icon  src="/icons/chevronDown.svg" alt="imagen"/>
                
            </button>

        </div>
    </div>
</div>