---
import { sidebarConfig } from "../config/sidebarConfig";
import Acordeon from "./ui/Acordeon.astro";
import TagA from "./ui/TagA.astro";
const { slug } = Astro.params;
const {pathname} = Astro.props
console.log(pathname)
---

<div
    class="sidebar-width w-fit py-[20px] h-auto pr-[10px] overflow-auto border-r-[1px] border-border dark:border-dark-border"
>
    {
        sidebarConfig.map((section) => (
            <Acordeon title={section.name}>
                {section.tags.map((tag, index) => (
                    <TagA
                        pathname={pathname}
                        title={tag}
                        href={section.paths && section.paths[index]}
                    />
                ))}
            </Acordeon>
        ))
    }
</div>
