---
const { title = "Comienza aqui" } = Astro.props;
---

<details
  open
  id="smry"
  class="flex flex-col cursor-pointer select-none w-[300px] ml-[10px] my-[5px]"
>
  <summary
    class="flex justify-between items-center capitalize text-black font-serif min-h-[30px] h-auto text-[16px] font-bold list-none"
  >
    <p class="pl-[10px] text-sky-300">{title}</p>
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        ><path fill="#000" d="M12.6 12L8 7.4L9.4 6l6 6l-6 6L8 16.6z"
        ></path></svg
      >
    </div>
  </summary>
  <div
    class="pl-[10px] flex flex-col bg-inherit ml-[20px] border-l-[1px] border-solid border-border dark:border-dark-border my-[5px]"
  >
    <slot />
  </div>
</details>

<style>
  details > summary .icon {
    transform: rotate(0deg);
    transition: transform 100ms linear;
  }

  details[open] > summary .icon {
    transform: rotate(90deg);
    transition: transform 100ms linear;
  }
</style>
