---
import Icon from "../../lib/Icon.astro";
---

<div class="search">
    <Icon src="/icons/search.svg"/>
    <input placeholder="Buscar" />
    <small
        class="w-[40px] h-[20px] mr-[4px] bg-[#EDEEF3] text-[#353841] flex items-center justify-center rounded-sm"
        >Ctrl K</small
    >
</div>