---
const { title, href, data } = Astro.props;
---

<a
  href={href}
  class={`min-h-[30px] h-auto flex items-center py-[4px] rounded-md pl-[10px] ${data ? "bg-[#3d50f5]" : "bg-white"} active:bg-[#3d50f5] active:text-white text-[#353841] hover:text-gray-500 font-bold text-[14px]`}
>
  {title}
</a>
