---
const { title, href, pathname } = Astro.props;

const currentSite = href == pathname

---

<a
  href={href}
  class={`text-option dark:text-dark-option ${currentSite ? 'bg-active text-white focus:bg-inherit  dark:focus:bg-inherit dark:bg-dark-active dark:text-white font-bold  hover:bg-active': null } hover:text-main dark:hover:text-dark-main hover:bg-slate-400 dark:hover:bg-[#2c294a]  py-[4px] pl-[10px] rounded-md my-[2px]`}
>
  {title}
</a>



<!-- class={` hover:text-gray-500  my-[2px] min-h-[30px] h-auto flex items-center py-[4px] rounded-md pl-[10px]
  ${currentSite ? "bg-[#3d50f5] text-white hover:text-white" : "bg-white text-black"} active:bg-[#3d50f5] active:text-white text-[#353841] font-bold text-[14px]`} -->